/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    position: relative;
    z-index: 1; /* Para que esté por encima del contenido al hacer scroll */
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
}

section {
    padding: 40px 0;
}

h2 {
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.job {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    z-index: 1; /* Para que esté por encima del contenido al hacer scroll */
}

#about h2 i,
#experience h2 i,
#education h2 i,
#skills h2 i {
    margin-right: 10px;
}
